* {
    font-family:sans-serif;
    margin: 0;
}

body {
    --bg-color: #D3E4CD;
    --color-primary: #99A799;
    --color-secondary: #F2DDC1;
    --border-radius: 25px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color);
}

.container {
    width: 75%;
    max-width: 100%;
    margin: 1rem;
    padding: 1.2rem;
    border-radius: var(--border-radius);
    background: var(--color-primary);
}

.bungkus1 {
    background-color: var(--bg-color);
    width: 100%;
    max-height: 65vh;
    border-radius: 15px;
    margin-bottom: 5px;
    overflow: hidden;
    overflow-y: scroll;
    border: 1px solid var(--bg-color);
    display: flex;
    flex-direction: column;
}

.bungkus2 {
    border: 1px solid var(--bg-color);
    border-radius: 15px;
}

.input_send {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.6rem;
    box-sizing: border-box;
    border-radius: 15px;
    border: none;
    outline: none;
    background: yellowgreen;
    transition: background 0.2s, border-color 0.2s;
    width: 100%;
}

textarea:focus {
    border-color: tomato;
    background: #ffffff;    
}

.chat_area {
    border-radius: 10px 10px 10px 0px;
    box-sizing: border-box;
    word-wrap:break-word;
    padding: 10px;
    max-width: 80%;
    height: max-content;
    width: fit-content;
    outline: none;
    border: none;
    margin: 1px 1rem 1px 0.5rem;
}

/* @media only screen and (max-width: 600px) {
    .chat_area {
        margin: 3px 1rem 0px 8rem;
    }
}

@media only screen and (min-width: 600px) {
    .chat_area {
        margin: 4px 1rem 0rem 10rem;
    }
} */

/* @media only screen and (min-width: 992px) {
    .chat_area {
        margin: 0.6rem 1rem 0.1rem 30rem;
    }
} */

textarea {
    width: 100%;
    resize: none;
    box-sizing: border-box;
    height: auto;
    min-height: 41px;
    max-height: 52vh;
    border: 1px solid grey;
    border-radius: 15px;
    background-color: var(--bg-color);
    outline: none;
    padding: 16px 16px 0px 16px;
    overflow: hidden;
    }

.button_send {
    margin-left: 10px;
    border: none;
    background: none;
    border-radius: 15px;
    cursor: pointer;
}

img {
    width: 30px;
    height: 35px;
}

:placeholder-shown {
    font-style: italic;
}

::-webkit-scrollbar {
    /* width:15px; */
    display: none;
    scrollbar-width: none;
}

::-webkit-scrollbar-track {      
    background: var(--bg-color);    
}

::-webkit-scrollbar-thumb {
    background: var(--color-primary);
}