* {
  margin: 0;
  font-family: sans-serif;
}

body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#ead6ee, #a0f1ea);}

.container {
  width: 600px;
  max-width: 600px;
  padding: 1rem;
  border-radius: var(--border-radius);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box{
  width: 100%;
  max-width: 100%;
  padding: 3rem 3rem 3rem 3rem;
  border: 1px solid black;
  border-radius: 25px;
}

.login-box h1{
  float: left;
  font-size: 40px;
  border-bottom: 6px solid orangered;
  margin-bottom: 50px;
  padding: 13px 0;
}
.textbox{
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid orangered;
}
.textbox i{
  width: 26px;
  float: left;
  text-align: center;
}
.textbox input{
  border: none;
  outline: none;
  background: none;
  font-size: 18px;
  width: 80%;
  float: left;
  margin: 0 10px;
}
.btn{
  width: 100%;
  background: none;
  border: 2px solid #4caf50;
  color: red;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin: 12px 0;
}

.btn:focus {
  border-color: yellowgreen;
  background-color: whitesmoke;
}
